* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
}

body {
    background-color: whitesmoke;
    max-width: 1400px;
    margin: auto;
}

header {
    text-align: center;
    padding: 40px;
    color: rgb(94, 92, 89);
}

header h1 {
    font-size: 40px;
}

.card {
    color: rgb(5, 5, 104);
    border: solid 1px rgb(94, 92, 89);
    border-radius: 10px;
    box-shadow: 10px 0px 5px rgba(197, 186, 186, 0.664);
    width: 300px;
    opacity: 0.6;
    padding: 30px;
    text-align: center;
    transition: opacity 0.3s ease;
}

.card img {
    margin: 10px;
    border-radius: 10px;
}

.card:hover {
    opacity: 1;
}

h2,
h3,
h4 {
    text-decoration: underline;
    font-size: 30px;
}

#penelope-list {
    list-style-type: none;
}

li:hover {
    color: #1182eb
}

span {
    color: #b48ce0;
    font-size: 1.5em;
}

a:visited {
    color: burlywood;
}